.searchPage{
    width: 100%;
}

.searchPage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPage__header{
    display: flex;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    overflow-x: scroll;
}

.searchPage__header::-webkit-scrollbar{
    display: none;
}

.searchPage__headerBody>.search>.search__input{
    margin-top: 0;
    width: unset;
    margin:unset;
    max-width: unset;
}

.searchPage__options{
    display: flex;
    align-items: center;
    color: grey;
}

.searchPage__optionsRight,
.searchPage__optionsLeft{
    display: flex;
}

.searchPage__options a,
.searchPage__optionsRight a{
    text-decoration: none;
    color: gray;
}

.searchPage__optionsRight{
    margin-left: 80px;
}

.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a{
    margin-left: 5px;
}

.searchPage__result{
    margin: 30px 0;
}

.searchPage__resultCount{
    color: #70757a;
    font-size: 14px;
}

.searchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 25px;
}

.searchPage__resultUrl{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.searchPage__resultTitle{
    text-decoration: none;
}

.searchPage__resultTitle:hover{
    text-decoration: underline;
}

.searchPage__resultTitle>h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #1A0DAB;
}

.searchPage__resultSnippet{
    margin-top: 5px;
}

.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

@media (max-width: 800px){
    .searchPage__header{
        flex-direction: column;
        align-items: center;
    }


    .searchPage__logo{
        margin-right: 0px;
        margin-bottom: 10px
    }

    .searchPage__headerBody{
        width: 100%;
        
    }

    .searchPage__headerBody>.search>.search__input{
        margin-left: 10px;
        margin-right: 10px;
    }

    .searchPage__options{
        width: 98%;
        overflow: hidden;
        overflow-x: scroll;
        margin-left: 10px;
    }

    .searchPage__options::-webkit-scrollbar{
        display: none;
    }

    .searchPage__results{
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        justify-content: center;
    }

    .searchPage__headerBody{
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 500px){
    .searchPage__headerBody>.search>.search__input{
        width: 90%;
        margin-left: 5px;
        padding: 5px 10px;
    }

    .searchPage__option>.MuiSvgIcon-root{
        font-size: 18px;
    }

    .searchPage__header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .searchPage__option{
        font-size: 14px;
    }

}




