.mailSide{
    min-width: 235px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
    margin-right: 10px;
}

.mailSide>button{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 999px;
    border: none;
    padding: 10px 15px;
    box-shadow:  1px 2px 7px  rgba(0, 0, 0, 0.242);
    background-color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow .2s;
}

.mailSide>button:focus{
    outline: none;
}

.mailSide>button:active{
    box-shadow:  1px 1px 7px 2px  rgba(0, 0, 0, 0.242);
}


.mailSide__compose-img{
 margin-right: 10px;
 height: 30px;
}

.mailSide__options{
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.mailSide__meet-options>p{
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.mailSide__meet-options{
    padding-bottom: 5px;
}

@media (max-width: 800px){
    .mailSide{
        display: none;
    }
}